
body {
  font-family: 'Oswald', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.test {
  font-size: 5vw;
}
.globalContainer {
  display:inline-block;
}

.tipper {
  width:15%;
  display: inline-block;
  margin-left: 3%;
}
.profilepic {
  width: 100%;
}

.profilepic img {
  width:100%;
}

.nameContainer{
  text-align: center;
  font-size: 1vw;
}

.descContainer{
  text-align: center;
  font-size: 1vw;
}

.logo {
  width: 15%;
  display: inline-block;
}

.logo img {
  width:100%;
}

#header {
  width: 80%;
  margin: 0 auto 0;
  background: white;
  margin-bottom: 2%;
  margin-top: 1%;
  text-align: center;

}

#header #nav {
  display:inline-block;
  width:15%;
  margin-left: 3%;
  margin-top:1%;
}

.nav-item {
  margin-bottom:-10%;
}
#nav .nav li {
  text-align: center;
  width: 100%;
  font-size: 1vw;
}

#header .searchbar {
  width: 35%;
  display:inline-block;
  margin-left: 3%;
}

.inptSearch {
  width: 80%;
}

.logreg {
margin-bottom: -10%;
display: inline-block;
}

#bg_1 {
  background: url("../images/bg_1.jpg");
}

#bg_1 {
  width: 100%;
  height: auto;
  display:block;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position:center;
  }

  #parallax_spacing {
	width:100%;
 	height:200px;
 	display: table;
	position:relative;
}
